@CHARSET "ISO-8859-1";
/* Default CSS */

html, body, div, header, footer, aside, nav, article, section	{ margin: 0; padding: 0; }
header, footer, aside, nav, article, section	{ display: block; }
body 			{ color: #333; font: 12px Helvetica, Arial, sans-serif; line-height: 18px; width:940px;margin:0 auto;}
h2				{ color: #333; }
a				{ color: #337810; }
p				{ margin: 0 0 18px; }
#wrapper		{ float: left; width: 100%; }
		
/* Header */
header			{ background: #D92F1C; border-bottom: 2px solid #aaa; }
header h1  	{ color: #fff; margin: 0 0 3px; padding: 24px 18px 0; text-align:center;}
header p		{ color: #ccc; font-size: 11px; font-weight: bold; padding: 0 18px; text-align:center;}

/* Content Style */
nav		{ border-bottom: 1px solid #ccc; padding-left: 99px; }
nav ul	{ padding: 0 18px 9px; list-style:none; }
nav ul li {
  display: inline;
  position: relative;
  float: left;
  padding-right:10px;
  
}
nav ul li a {
    text-decoration:none; 
    color:#D92F1C; 
    background-color:#CDCCB4;
    display:block;
    width:95px;
    height:30px;
    padding-top:10px;
    text-align:center;}
#leftblock {
	font-size:8px; 
	width:15%;
}
#content		{ padding-left: 18px; }
#extra			{ border-bottom: 1px solid #ccc; }
#extra small	{ font-size: 11px; line-height: 18px; }
#content p, #extra p { padding-right: 18px; }
		
/* Content Positioning and Size */
/*nav		{ float: left; width: 200px; margin-left: -100%; }*/
nav		{ height:40px; margin-left: 10px; }
#leftblock {float:left; }
#leftblock h2, h3 {
	text-align:center;	
}
#leftblock img {
	display:block;
	margin:auto;
	width:80%;
}
#content		{ margin: 0 33% 36px 200px; }
#extra			{ float: left; width: 31%; margin-left: -31%; }		/* Footer */
footer			{ background: #666; border-bottom: 2px solid #aaa; clear: left; width: 100%; }
footer a		{ color: #fff; }
footer	p		{ color: #ccc; margin: 0; padding: 0 18px 10px; }
footer ul		{ border-bottom: 1px solid #999; list-style: none; margin: 0 18px 6px; padding: 10px 0 6px; }
footer li		{ display: inline; font-size: 11px; font-weight: bold; padding-right: 5px; }

/* HendyCam */
#hendycamContent {
	margin-left:15%;
}
#hendycamImagesDiv {
	width:100%;
}
#hendycamImagesDiv img {
	float:left;
	margin-right:25px;
	margin-bottom:25px;
	width:320px];
	height:240px;
	border:2px;
	cursor:crosshair;
}
/* Other controls */
#pageData {
	visibility: hidden;
}